@charset "UTF-8";

.main-slide {
	background: url(/image/main_slide.jpg);
	height: 300px;
	padding: 100px 0 40px 0;
	font-family: Malgun Gothic;
	font-weight: bold;
	margin-bottom: 80px;
}

.main-logo {
	padding: 10px 0 10px 0;
}

.main-logo-basic {
	padding: 0 10px 0 0;
}

.main-slide-title {
	font-size: 2rem;
	font-family: Malgun Gothic;
	font-weight: bold;
	vertical-align: bottom;
}

.main-slide-subtitle {
	width: 100%;
	padding-top: 20px;
	font-size: 18px;
}

.main-product {
	width: 80%;
	margin: 0 auto 0 auto;
}

.product-list {
	padding: 15px 15px 15px 15px;
}

.card {
	border: 3px solid #ddd;
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 180px;
	max-width: 400px;
	max-height: 400px;
	width: 100%;
	background: #000000;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}

.card * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}

.card img {
	max-width: 100%;
	position: relative;
	opacity: 0.9;
}

.card-title {
	font-family: Malgun Gothic;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 10px 0 10px;
}

.card-title>img {
	margin-right: 5px;
}

.card-content {
	position: absolute;
	top: 45%;
	left: 7%;
	right: 7%;
	bottom: 15%;
	border: 3px solid white;
	border-width: 3px 3px 0;
}

.card .heading {
	overflow: hidden;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	position: absolute;
	bottom: 0;
	width: 100%;
}

.card h2 {
	display: table;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: auto;
	font-weight: 400;
}

.card h2 span {
	font-weight: 800;
}

.card h2:before, .card h2:after {
	position: absolute;
	display: block;
	width: 1000%;
	height: 3px;
	content: '';
	background: white;
	top: 44%;
}

.card h2:before {
	left: -1000%;
}

.card h2:after {
	right: -1000%;
}

.card p {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-20%);
	position: absolute;
	width: 100%;
	padding: 0 20px;
	margin: 0;
	opacity: 0;
	line-height: 1.6em;
	font-size: 0.9em;
}

.card .test3, .card>div>a {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
	padding: 0 20px;
	margin: 0;
	opacity: 0;
	line-height: 1.6em;
	font-size: 0.9em;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.card:hover .back-img, .card.hover .back-img {
	opacity: 0.25;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.card:hover .card-content, .card.hover .card-content {
	top: 8%;
	bottom: 8%;
}

.card:hover p, .card.hover p, .card:hover a, .card.hover a, .card:hover .test3,
	.card.hover .test3 {
	opacity: 1;
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.version-btn {
	color: white;
	background-color: #00a684;
	padding: 6px 10px;
	margin: 0px 5px;
	border-radius: 2px;
}

.version-btn:hover {
	color: white;
	text-decoration: none;
	box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.3) inset;
}