@charset "UTF-8";

.treeview {
	border-top: 1px solid #dee2e6;
	font-size: 13px;
}
    	
.k-treeview .k-in.k-state-selected {
	background-color: #ea861e;
}
		
.btn {
	vertical-align: baseline;
}

.btn:focus {
	box-shadow: none;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0;
}

#sidebar-wrapper .list-group {
	width: 20rem;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: -20rem;
}

.sidebar-heading>input {
	height: 4vh;
	width:100%;
	padding: 13px 13px;
	border: 0;
	margin: 0;
	font-size: 13px;
}
.sidebar-heading>input:focus {
	outline:none;
}

.sidebar-footer {
	width: 20rem;
	border-top: 1px solid #dee2e6;
	font-size: 13px;
	padding: 15px 15px 30px 15px;
	bottom: 0;
}

.sidebar-footer>button {
	font-size: 15px;
	float: right;
	line-height: 1.3;
	padding: 0;
}

.dropdown-menu>a:hover {
	color: white;
	background-color: #ea861e;
	text-decoration: none;
}